.header {
    height: @header-height;
    line-height: @header-height;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    font-family: @cool-font;
    font-size: 1.3em;
    padding: 0 10px;
    color: @font-color;
    .right {
        text-align: right;
    }
    .text {
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    }
    button.back-button {
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
        background: transparent;
        font-size: 1em;
        margin-left: 5px;
        margin-top: 12px;
        color: #666666;
        &.ng-click-active {
            color: #333333;
        }
    }
    button.header-icon {
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
        background: transparent;
        font-size: 1.5em;
        margin-top: 8px;
        margin-left: 5px;
        color: #666666;
        text-align: left;
        width: 60px;
        &.ng-click-active {
            color: #333333;
        }
    }
    .header-background();
}

.disable {
    .container {
        //pointer-events: none;
    }
}

.content {
    margin-top: 56px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}

.disable {
    .overlay {
        display: block;
    }
}

footer {
    height: @footer-height;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background: #ddd;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.3);
    color: @font-color;
    .footer {
        height: 100%;
        .tab {
            height: 100%;
            float: left;
            width: 25%;
            text-align: center;
            padding-top: 3px;
            box-shadow: 1px 0 2px rgba(0, 0, 0, 0.3);
            &:last-child {
                box-shadow: none;
            }
            i {
                font-size: 1.75em;
            }
            .move-closer {
                position: absolute;
                font-size: 1em;
                color: @color-negative;
            }
            .label {
            }
            &.ng-click-active {
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.6) inset;
            }
            &.selected {
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) inset;
            }
        }
    }
}