header {
    height: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background: #ddd;
}

.content {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 0;
}

footer {
    height: 30px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background: #ddd;
}