*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    .body-background();
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    color: @font-color;
    font-family: 'Slabo 27px', serif;
}

.container, .app-page {
    height: 100%;
    overflow: hidden;
    z-index: 0;
}