.parking-button {
  display: inline-block;
  width: 100%;
  text-align: center;
  .button {
    display: inline-block;
    width: 150px;
    height: 150px;
    white-space: nowrap;
    line-height: 130px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5) inset;
    border: 10px solid rgba(255, 255, 255, 1);
    -webkit-transition: box-shadow 40ms ease-in;
    transition: box-shadow 40ms ease-in;
    color: #ffffff;
    &.ng-click-active {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.7), 0 0 20px rgba(0, 0, 0, 0.7) inset;
    }
  }
}

.positive .parking-button {
  .button {
    background: @color-positive;
  }
  .park-here {
    display: inline-block;
  }
  .parked {
    display: none;
  }
}

.negative .parking-button {
  .button {
    background: @color-negative;
  }
  .park-here {
    display: none;
  }
  .parked {
    display: inline-block;
  }
}