.parking {
  height: 100%;
  padding: 10px 0;
  .parked-elements {
    margin: 10px;
    .parked-time {
      color: #ffffff;
      margin: 5px 0;
      text-align: center;
      font-style: italic;
    }
    .map-link {

    }
    .extra-link {
      margin-top: 10px;
      .pic-link {
        float: left;
        width: 49%;
      }
      .notes-link {
        float: right;
        width: 49%;
      }
      .clear-fix();
    }
    .image {
      margin-top: 10px;
    }
    .extras {
      margin-top: 10px;
      color: #ffffff;
      div {
        span {
          font-size: 0.8em;
        }
        &.notes {
          font-style: italic;
          font-size: 0.9em;
        }
      }
    }
  }
  .link {
    padding: 7.5px 0px;
    .button-background();
    text-align: center;
    font-weight: 600;
    border: 1px solid #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
      color: @font-color;
    &.ng-click-active {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) inset, 0 0 5px rgba(0, 0, 0, 0.6);
    }
  }
  .additional-information {
    margin-top: 10px;
    background: #fefefe;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    &.ng-enter-active {
      -webkit-animation: bounceInDown 200ms linear;
      animation: bounceInDown 200ms linear;
    }
    div.label, label {
      display: block;
      padding: 5px;
      line-height: 34px;
      position: relative;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
      &:first-child {
        box-shadow: none;
      }
      span {
        float: left;
        font-size: 0.8em;
        position: absolute;
      }
      input {
        width: 100%;
        outline: none;
        border: 0;
        background: transparent;
        text-align: right;
        padding: 10px 5px 10px 60px;
        height: 34px;
      }
      .clear-fix();
    }
  }
  .actions {
    margin-top: 10px;
    .submit {
      float: left;
      width: 49%;
      background: @color-positive;
      color: #ffffff;
    }
    .cancel {
      float: right;
      width: 49%;
    }
    .clear-fix();
  }
  .image {
    margin: 25px;
    img {
      width: 100%;
    }
  }
}